<!DOCTYPE html>
<html>
    <head>
       <title>Prouster</title>
    </head>
    <br>
    <body>
       <h1> <font color="f11a0a"> <i>Prouster</i></font ></h1>
      <div class="w3-panel w3-border-top w3-border-bottom">
      <p> <b>Here's an idea!</b></p>
      </div> 
       <!-- TODO(Jared): Reimplement Flask -->
       <p>{{neural_network_output}}</p>
       <form action="/action_page.php" id="usrform">
        Name: <input type="text" name="usrname">
</form>
       <textarea rows="4" cols="50">
 Write a response here!

 </textarea>
 <iframe name="votar" style="display:none;"></iframe>
 <form action="tip.php" method="post" target="votar">
       <input type="submit" value="Skicka Tips">
       <input type="hidden" name="ad_id" value="2">            
 </form>
      <br>
      <br>
       <img src="/static/brain.jpg"/>
    </body>
 </html>